@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-ink font-body antialiased;
  }

  ::selection {
    @apply bg-paprika/20;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-dust;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
